body {
    background-image: url(../images/top/background.png);


    .logo {
        h1 {
            text-align: center;
        }
    }

    .pc_navi {

        text-align: center;


        .pc_navi_li {
            list-style-type: none;
            display: none;
        }

        .container {
            max-width: initial;
            margin: initial;
            margin: 0 auto;
        }
    }
    .container {
        .main {
            position: relative;
            height: 800px;
        }
        .main-image {
            height: 800px;
            width: 1905px;
            z-index: 0;
            position: absolute;

        }
        .sakura {
            z-index: 10;
            position: absolute;
            left: 0;
            right: 0;
            margin: 15% auto;
            top: 0;

            @media(max-width: 750px) {
                padding: 200px 0 0 0;
            }
        }




        .concept {
            text-align: center;
            margin-top: 174px;
        }
        .concept-images {}
        .concept-title {
            text-align: center;
            margin-top: 5%;
            @media(max-width: 750px) {
                font-size: 37px;
                margin-top: 10%;
            }
        }
        .main-concept {
            position: relative;

            // background-image: url(../images/top/concept-main.png);

            overflow: hidden;
            height: 727px;
            // background-position: center center;
            // background-repeat: no-repeat;

        }
        .ikkai {
            text-align: center;
            margin-top: 5%;
        }
        .nikai {
            text-align: center;
            margin-top: 5%;
        }
        .washitsu {
            text-align: center;
            margin-top: 5%;
        }
        .white-box3 {
            text-align: center;
        }
        .white-box4 {
            height: 302px;
            background-color: white;
            padding: 1px 0 0 0;
        }
        .white-box {


            width: 50%;

            @media(max-width: 750px) {
                width:100%;
                order: -1;
            }
            .castle {
                margin-top: 174px;
                text-align: center;
            }
            .dotonbori {
                margin-top: 174px;
                text-align: center;
            }
            .kuronmon {
                margin-top: 174px;
                text-align: center;
            }
            .namba {
                margin-top: 174px;
                text-align: center;
            }

        }
        .white-box2 {
            background-color: white;
            border: 1px solid #cacaca;
        }
        .text {
            text-align: center;

            line-height: 200%;
            font-size: 20px;
            margin: 10px 30% 174px;
            @media(max-width: 750px) {
                margin: 10px 10% 174px;
            }
        }
        .neccesary {
            text-align: center;
            font-size: 40px;
            margin-top: 5%;
            @media(max-width: 750px) {
                font-size: 37px;
                margin-top: 10%;
            }
        }

        .contents {
            display: flex;
            @media(max-width: 750px) {
                flex-direction: column;
            }
        }
        .front {
            width: 50%;
            @media(max-width: 750px) {
                width:100%;
            }

        }

        .main-image {
            width: 100%;
            object-fit: cover;
            object-position: 12% 50%;
            @media(max-width: 750px) {
                object-position: 39% 50%;
            }
        }
        .front-image {
            width: 100%;
            display: block;
            object-fit: cover;
    height: 100%;

            
        }
        .bounceInRight{
            height:100%;
        }
        .bounceInLeft{
            height:100%;
        }
        .osaka {
            width: 50%;
            @media(max-width: 750px) {
                width:100%;
            }
        }
        .osaka-image {
            width: 100%;
            display: block;
            object-fit: cover;
            height: 100%;
        }
        .sightseeing {
            text-align: center;

        }
        .sightseeing-images {
            margin-top: 174px;

        }
        .room {
            text-align: center;
        }
        .room-images {
            margin-top: 174px;
        }
        .beds {
            width: 50%;
            @media(max-width: 750px) {
                width:100%;
            }
        }
        .beds-image {
            width: 100%;
            display: block;
            object-fit: cover;
            height: 100%;
        }
        .address {
            width: 50%;
            @media(max-width: 750px) {
                width:100%;
            }
        }
        .access {
            text-align: center;
        }
        .access-images {
            margin-top: 174px;
        } // #map1 {
        //     position: relative;
        //     padding-bottom: 75%; // これが縦横比
        //     height: 0;
        //     overflow: hidden;
        // }
        .address {
            margin: 0 auto;
            position: relative; // width: 100%;
            padding-top: 40.25%;

            @media(max-width: 750px) {
                padding-top: 90.25%;
            }
        }
        .address2 {
            text-align: center;
            font-size: 20px;
            font-weight: bold;
            margin-top: 3%;
        }
        .address iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100% !important;
            height: 100% !important;
        }
        .namba-ground-kagetsu {
            width: 50%;
            @media(max-width: 750px) {
                width:100%;
            }
        }
    }

    footer {
        .footer-box {

            .footer-manu {
                text-align: center;
                background-color: #ffb6c1;
                ul p {
                    font-size: 20px;
                    color: #2f2f2f;
                    margin-bottom: 0px;
                }
            }

        }
        .footer-navi {
            margin: 50px 0;
            @media(max-width: 750px) {
                text-align: left;
            }

            ul {
                list-style-type: none;
                display: flex;
                justify-content: space-around;
                @media(max-width: 750px) {
                    display:initial;
                    list-style-type: square;
                }

            }


            li {
                @media(max-width: 750px) {
                    border-bottom: 2px solid black;
                }
            }

        }
    }



}
